django==3.1
dj-database-url
dj-static
requests
pandas
neologdn
numpy
beautifulsoup4
spacy
mecab-python3
unidic-lite
gunicorn
requests
pandas
neologdn
numpy
beautifulsoup4
spacy
mecab-python3
unidic-lite
gunicorn